/* GENERAL */
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* LOGIN PAGE */
.default-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.login-form, .signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  font-size: 1.8rem;
  margin-top: 120px;
}

.input-wrap {
  display: flex;
  flex-direction: column;
}

.input-header  {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
}

.input-wrap-input {
  border-radius: 6px;
  width: 250px;
  height: 30px;
  transition: border-color 0.2s ease;
  padding: 0 10px;
  margin: 5px 0;
}

.input-wrap-input:focus, .review-text:focus {
  border-color: rgb(0, 47, 255);
  outline: none;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.4s ease;
}

.log-button {
  width: 150px;
  border: 1px solid;
  border-radius: 6px;
  padding: 5px;
  background-color: white;
  transition: all 0.4s ease;
}

.btn-submit {
  margin-top: 30px;
}

.log-button:hover:not([disabled]) {
  color: white;
  background-color: blue;
  cursor: pointer;
}

.log-button:hover:not([disabled]) a {
  color: white;
}

.invalid-message {
  color: white;
  user-select: none;
}

.invalid-message.visible {
  color: red;
  font-size: 0.9rem;
}

.invalid-input {
  border-color: red;
  background-color: pink;
  outline: none;
}

/* HOME PAGE */
.header {
  position: absolute;
  top: 0;
  flex-direction: row;
  color: white;
  background-color: black;
  width: 100%;
  height: 80px;
  z-index: 1000;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.header-title:not(.login-signup) {
  cursor: pointer;
} 

.account-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  height: 80px;
}

.fa-circle-user {
  font-size: 1.8rem;
}

.account-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.account-details > h3, .account-details > p {
  margin: 0;
  padding: 0;
}

.account-details > p {
  font-size: 0.8rem;
}

.page-options {
  opacity: 0;
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 80px;
  right: 0;
  transition: opacity 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.page-options.visible {
  opacity: 1;
  cursor: pointer;
  pointer-events: visible;
}

.option {
  color: black;
  background-color: rgb(228, 228, 228);
  border: 1px solid black;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  transition: background-color 0.4s ease;
}

.option:hover {
  background-color: rgb(177, 177, 177);
}

/* GAMES */
.games-section {
  display: flex;
  flex-direction: column;
  margin: 50px 100px;
}

.games-section.favorites {
  margin-top: 100px;
}

.games-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 180px;
  height: 100px;
  padding: 20px;
  background-image: linear-gradient(to top, rgb(194, 194, 194), white);
  transition: transform 0.2s ease;
  user-select: none;
}

.game-card h2 {
  margin: 0;
  height: 65%;
  overflow-y: hidden;
  overflow-wrap: anywhere;

  mask-image: linear-gradient(
    to bottom,
    black 70%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 70%,
    transparent 100%
  );
}

.game-card:hover {
  transform: scale(1.03);
}

.game-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.fa-heart, .fa-heart-crack {
  font-size: 20px;
  color: black;
  cursor: pointer;
  transition: transfrom 0.3s ease;
}

.fa-heart.favorited {
  color: red;
}

.fa-heart:hover, .fa-heart-crack:hover {
  color: rgb(219, 119, 136);
}

.section-status {
  font-size: 1.5rem;
  text-align: center;
}

/* GAME MODAL */
.game-modal {
  position: fixed;
  inset: 0;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(6px);
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 200;
  background-color: white;
  border: 1px solid black;
  max-height: 85vh;
  width: 85%;
  padding: 1.5rem;
  overflow: hidden;
}

.modal-body {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 5px;
}

.btn-close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}

.btn-close-modal:hover {
  transform: scale(1.08);
}

.fa-circle-xmark {
  display: flex;
  font-size: 30px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
}

.content-headings {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.content-header, 
.content-description {
  margin: 20px 0;
}

.content-header {
  font-size: 3rem;
}

.content-description {
  font-size: 1.5rem;
  overflow-wrap: anywhere;
}

.player-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 200px;
  margin-bottom: 20px;
}

.player-list {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: rgb(189, 189, 189);
  overflow-y: auto;
}

.player-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-image: linear-gradient(to top, rgb(194, 194, 194), white);
  font-size: 1.2rem;
  border: 1px solid black;
}

.review-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 25%;
  width: 100%;
}

.review-container h2 {
  margin: 0;
}

.rating-review {
  display: flex;
  align-items: center;
  gap: 20px;
}

.star-click {
  position: relative;
  z-index: 251;
  cursor: pointer;
  font-size: 20px;
  left: -25px;
}

.selected-star {
  color: yellow;
}

.star-border {
  position: relative;
  left: 25px;
  z-index: 250;
  font-size: 28px;
}

.comment-review {
  width: 100%;
}

.comment-review form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.review-text {
  padding: 10px;
  border-radius: 6px;
  width: 80%;
  height: 50px;
}

.premium-block {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.premium-overlay {
  backdrop-filter: blur(6px);
  width: 105%;
  height: 110%;
}

.premium-message {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-crown {
  color: rgb(243, 207, 0);
  font-size: 24px;
  background-color: black;
  padding: 9px 5px;
  border-radius: 50%;
}

/* ALL REVIEWS */
.game-reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.all-reviews-list {
  display: flex;
  flex-direction: column;
  height: 230px;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.all-review-card {  
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px 10px;
  width: 80%;
}

.user-reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-reviews-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 10px;
}

.user-review-card {  
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px 10px;
  margin: 20px 0;
}

/* NEW GAME FORM */
.new-game-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 80%;
}

.game-name {
  width: 400px;
}

.game-description {
  width: 400px;
  height: 200px;
}

/* MANAGE USERS PAGE */
.all-users-table {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.all-users-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.all-users-header {
  font-weight: bold;
  background-color: #f2f2f2;
}