.login-form, .signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  font-size: 1.8rem;
  margin-top: 120px;
}

.input-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-header  {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
}

.input-wrap-input {
  border-radius: 6px;
  width: min(250px, 90vw);
  height: 30px;
  transition: border-color 0.2s ease;
  padding: 0 10px;
  margin: 5px 0;
}

.input-wrap-input:focus, .review-text:focus {
  border-color: rgb(0, 47, 255);
  outline: none;
}

.btn-link {
  margin-bottom: 100px;
}